/*font-family: 'Rubik Dirt', cursive; */
/*font-family: 'Source Sans Pro', sans-serif;*/


/*Barra de navegacion*/

.navbar{
    padding: .5rem;
    background-color: #A75D5D;

}

.navbar-collapse{
    justify-content:space-between;
    font-size: 1.3rem;
}

.navbar-toggler{
    color: #0B2447;
}

.logo-portafolio{
    width: 60px;
    height: 60px;
}

.nav-link{
    color: #20262E;
    margin-right: 1.8rem;
    transition: transform 0.3s ease;
}

.nav-link:hover{
    color: #ECECEC;
    transform: scale(1.2);
}

/* Estilos Generales */

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 2.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ECECEC;
}

.seccion-oscura{
    background-color: #F0997D;
    color: white;
}

.seccion-clara{
    color: black;
    background-color: #675D50;
}

.seccion-titulo{
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik Dirt', cursive;
}

.seccion.texto{
    font-size: 1.2rem;
}

/* Seccion Hero */

.hero{
    background-color: #D3756B;
    min-height: 450px;
    text-align: center;
}

.hero-principal{
    height: 100vh;
    padding: 3rem;
}

.card{
    padding: 40px;
    border-radius: 30px;
    background-color:#a75d5d91;
    box-shadow: 0px 0px 5px 2px #000;
}


.hero-imagen-perfil{
    width: 380px;
    height: 450px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: transform 0.6s ease;
}

.hero-imagen-perfil:hover{
    transform: scale(1.1);
}

.hero-inferior-imagen{
    margin-top: 3rem;
}

.hero-principal h2{
    color: #ECECEC;
    font-weight: bold;
    font-size: 1.5rem;
}

/*Seccion sobre mi */

.sobre-mi{
    height: 50vh;
}

.sobre-mi .contenedor{
    max-width: 90vw;
    text-align: center;
}

.seccion-titulo{
    color: #313131;
    font-size: 3rem;
    padding-bottom: 2.8rem;
    font-family: 'Source Sans Pro', sans-serif;
}

.seccion-texto{
    color: #0B2447;
    font-size: 1.2rem;
}

/* Experiencia */
.experiencia{
    padding: 40px 40px 60px 40px;
    background-color: #FFC3A1;
}

.experiencia .columna{
    padding: 20px;
    border: 1px solid #000000;
    justify-content: space-between; 
    border-radius: 15px;
    transition: all 0.2 ease-in;
    background-color: #A75D5D;
}

.experiencia .columna:hover{
    color: white;
    background-color: #1b1b32;
}

.experiencia i{
    font-size: 2.5rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
}


.experiencia-titulo{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.badges-contenedor{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.badge{
    margin: 5px;
}







/*Adaptable (Responsivo)*/

@media screen and (max-width:767px){
    .navbar-brand{
        display: none;
    }
}

@media screen and (min-width: 700px){
    .hero-inferior-imagen{
        max-width: 600px;
    }
}

@media screen and (max-width:767px){
    .collapse{
        background-color: #0B2447;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
}

@media screen and (max-width:767px){
    .nav-item a{
        color: white;
    }
}

