@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,400;0,6..12,600;1,6..12,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
/* font-family: 'Lilita One', cursive; */
/*font-family: 'Rubik Dirt', cursive; */
/*font-family: 'Source Sans Pro', sans-serif;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Barra de navegacion*/

.navbar{
    width: 100%;
    z-index: 1;
    position: fixed;
    padding: 1.2rem 0;
    background-color: #d1d1d1;

}
.nav-link{
    color: #1a1a1a;
    margin-right: 2.5rem;
    transition: transform 0.3s ease;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.6rem;
}
.nav-link:hover{
    color: #000;
    transform: scale(1.2);
}
nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #000000;
    bottom: 10px;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
nav a:hover::after {
    transform: scaleX(1);
  }

/*Seccion Hero*/
.hero-container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: url(./imagenes/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    width: 100%;
}
.hero-container h1{
    width: 450px;
    font-family: 'Lilita One', cursive;
    margin-bottom: 200px;
    margin-right: 50px;
    font-size: 48px;
}

/*Seccion sobre mi */

#sobre-mi{
    background-color: #d1d1d1;
    padding: 20px 0;
}
.sm-contenedor{
    display: flex;
    align-items: center;
    width: 100vw;
}
.card-contenedor{
    display: flex;
    justify-content: center;
    padding: 4rem ;
    height: 100vh;
    width: 100%;
}
.card{
    background-image: url(/imagenes/fotocv1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 0px 5px 2px #000;
    height: 100%;
    min-width: 300px;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    padding-bottom: 2rem;
}
.card-body h1{
    font-size: 2.5rem;
    color: #ECECEC;
}
.card-body h2{
    color: #ECECEC;
    font-weight: bold;
    font-size: 1.5rem;
}
.sm-parrafo p{
    width: 100%;
    color: #1a1a1a;
    font-size: 22px;
}

/* Skilles */

.skill-titulo h2{
    font-size: 3rem;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 3rem 0; 
}
.logos{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.logos img{
    width: 90px;
    height: 100px;
}
.logos img:hover{
    animation:shake-horizontal 0.8s linear both
} 
@keyframes shake-horizontal{
    0%,100%
        {transform:translateX(0)}
    10%,30%,50%,70%
        {transform:translateX(-10px)}
    20%,40%,60%
        {transform:translateX(10px)}
    80%
        {transform:translateX(8px)}
    90%
        {transform:translateX(-8px)}
}

/*Proyectos*/

.proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a1a1a;
}
.proyectos h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3rem;
    padding-bottom: 2rem;
    color: #d1d1d1;
}
.proyectos-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
    margin-bottom: 30px;
}
.card-proyecto-1{
    background: url(./imagenes/proyecto-1.png);
    background-size: cover;
    border-radius: 30px;
    height: 350px;
    margin-right: 50px;
}
.card-proyecto-2{
    background: url(./imagenes/proyecto-2.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    height: 350px;
    width: 600px;
    border-radius: 30px;
}
.card-content{
    height: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    transition: .5s;
    opacity: 0;
}
.card-content a{
    padding: 0 15px;
    color: #fff;
    text-decoration: none;
}
.card-proyecto-1:hover .card-content{
    opacity: 1;
}
.card-proyecto-2:hover .card-content{
    opacity: 1;
}

/*Contactos*/

.contactos{
    width: 100vw;
    height: 200px;
    background-color: #d1d1d1;
}
.contactos-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #313131;
    font-size: 3rem;
    padding: 1rem 0;
    font-family: 'Source Sans Pro', sans-serif;
}
.contacto-redes{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 3rem auto;
}
.contacto-redes a img{
    width: 50px;
    height: 50px;
}

/*Media (Responsivo)*/

@media screen and (max-width:767px){
    .navbar-brand{
        display: none;
    }
    .navbar-nav{
        display: flex;
        align-items: center;
    }
    .hero{
        width: 100vw;
        min-height: 45rem ;
    }

    .card{
        max-width: 20rem;
    }
    .card img{
        max-width: 17rem;
        max-height: 20rem;
    }
    #about-me h2{
        font-size: 2rem;
        font-weight: bold;
    }
    #about-me p{
        font-size: 1rem;
    }
    .sm-contenedor{
        flex-wrap: wrap;
    }
}

@media screen and (max-width:425px) {
    
    #about-me h2{
        font-size: 1.5rem;
    }
    #about-me p{
        font-size: .8rem;
    }
    
    .logos img{
       width: 80px;
       height: 80px;
    }
    .proyectos-container{
        width: 200px;
    }
    .contactos-titulo{
        font-size: 30px;
    }
}

